/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:400italic,400,700);*/
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400italic,400,700);
body {
  font-family: 'Open Sans', sans-serif;
}
 h1,h2, h3, h4{
  font-family: 'Merriweather', serif;
  color: #ee2c4c;
  text-transform: uppercase;
  letter-spacing: .1em;
 }
/**** logo/header ****/
.logo img {
  max-height: 100px;
}

.fbLogin{
  text-align: center;
  font-size: 0.8em;
  max-width:12%;
  border-bottom : dotted thin #f8beca;
  border-left: dotted thin #f8beca;
  padding:0.4em;
  top:5px;
  right:5px;
  position:absolute;

}

.fbLogin a {
   color: #ff2e3a;
   text-decoration: none;
}

.fbLogin a:hover{
  text-decoration:underline;

}
.fb-like{
  top:2px;
}

header,
.wrap {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

header{
  text-align: center;
  line-height: 50px;
  border-bottom:1px solid #f8beca;
  width:60%;
}
header p {
  text-align: center;
  line-height: 40px;
  padding-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: .3em;
  color:#026a10;
}
p.infoText{
  padding-top: 30px;
  padding-bottom:30px;
  text-align: center;
  width:37%;
  margin:0 auto;
  line-height:40px;

}
a.list{
  color:#ff2e3a;
  text-decoration: none;
}
a.list:hover{
  color:green;
  /*text-decoration: underline;*/
}
a.searchLink {
  color:#ff2e3a;
  text-decoration: none;
}
a.searchLink:hover {
  color:green;
}

.rating {
  float:right;
}

.rating li{
  display : inline-block;
}
.rating a{
  overflow:hidden;
  white-space: nowrap;
  letter-spacing: -.4em;
  text-shadow: none;
  color: transparent;
  display: inline-block;
  background: url(/assets/images/rating.png) 0 0 no-repeat;
  width: 58px;
  height: 58px;
}
.rating a:active,
.rating a:focus,
.rating a:hover,
.rating a:hover .stars  {
  background-position: 100% 0;
}

.rating-1 li:nth-child(1) a,
.rating-2 li:nth-child(1) a,
.rating-2 li:nth-child(2) a,
.rating-3 li:nth-child(1) a,
.rating-3 li:nth-child(2) a,
.rating-3 li:nth-child(3) a,
.rating-4 li:nth-child(1) a,
.rating-4 li:nth-child(2) a,
.rating-4 li:nth-child(3) a,
.rating-4 li:nth-child(4) a,
.rating-5 li:nth-child(1) a,
.rating-5 li:nth-child(2) a,
.rating-5 li:nth-child(3) a,
.rating-5 li:nth-child(4) a,
.rating-5 li:nth-child(5) a {
  background-position: 100% 0;
}
p.missing{
  float:right;
  font-family: 'Merriweather', serif;
  color: #ee2c4c;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-top: 12px;
  font-size: 14px;
 }

.cocktailPhoto img{
  float:right;
  max-width: 30%;
  max-height:30%;
  padding: 20px;
  clear:right;
  /*margin-top:-10px;*/
}


.ingredientsList,
.PreperationText,
.descrText{
  /*color:#ee2c4c;*/
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 0;
  color: #026a10;
}



.search:after { content:""; display:block; clear:both; height:0;  visibility:hidden; }
.search {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #dedede;
}
.search form:after { content:""; display:block; clear:both; height:0;  visibility:hidden; }
.search form {
  text-align: center;
  margin-bottom: 30px;
}
.search .fi_txt {
  width: 100%;
  float: left;
  padding-right: 76px;
  box-sizing: border-box;
}
.search label {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  display: inline-block;
}
.search .fi_txt input {
  width: 100%;
  line-height: 37px;
  font-size: 24px;
  display: block;
  box-sizing: border-box;
  padding: 5px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #dedede;
}

.search .fi_txt input:focus,
.search .fi_txt input:active {
  outline: 0;
  border-color: #d1d1d1;
}

.search .fi_btn {
  float: right;
  margin: -49px 0 0 0;
}

.search .fi_btn input {
  background-color: #1ac200;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 0;
  font-size: 24px;
  line-height: 35px;
  padding: 7px 16px;
  border: 1px solid #009d00;
  border-left: 0;
  padding: 6px 15px 6px 16px;
}

.search .fi_btn input:hover,
.search .fi_btn input:focus,
.search .fi_btn input:active {
  box-shadow: 0 0 15px rgba(0, 0, 0, .3) inset;
  cursor: pointer;
  color: #f1f1f1;
  padding: 7px 16px;
  border: 0;
}

.tags {
  text-align: center;
}

.tags ul {
  list-style: none;
}
.tags li {
  display: inline-block;
  background-color: #ff3a4f;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px 20px;
  color: #222222;
}
.tags .removetag {
  color: #fff;
  text-decoration: none;
  margin: -1px -4px 0 12px;
  padding: 4px;
  font-size: 13px;
  height: 14px;
  width: 14px;
  line-height: 12px;
  border-radius: 50%;
  background-color: #e50036;
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0,0,0, .2) inset;
  vertical-align: middle;
}
.tags {}

.listActive .tags{
  display: none;
}



/**** results ****/
.results {
  clear: both;
  width: 50%;
  margin: 0 auto;
}

.results h2 {
}

.cocktail {
  margin-top: 40px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: white;
  padding: 20px 20px;
}
.cocktail:after { content:""; display:block; clear:both; height:0;  visibility:hidden; }

.cocktail h2 {
  margin: 0;
  max-width: 100%;
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
}

.cocktail ul {
  list-style: none;
  padding-left: 1em;
}

.cocktail .ingredients li:before {
    content:'\2022';
    color: red;
    /*color: #026a10;*/
    padding-left: 1em;
    padding-right: 1em;
}

.nav ul{
  list-style: none;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

.comments {
  text-decoration: none;
  color: #f22649;
  padding-left: 5px;
}
.comments:after {
    content: "....";
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
    vertical-align: bottom;
}
.comments:before {
    content: "\00a0";
    display: inline-block;
    width: 28px;
    height: 19px;
    margin: -3px 10px -3px 0;
    vertical-align: middle;
    background: url(/assets/images/talk-bubble.png) 0 0 no-repeat;
    transition: all .2s ease-in-out;
}

.comments:hover:before,
.comments:focus:before,
.comments:active:before {
  background-position: 0 100%;
}

.comments:hover:after,
.comments:focus:after,
.comments:active:after {
  min-width: 30px;
}

.nav li{
  display:inline-block;
}

.nav li a{
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 525px)
{

  body{font-family: 'Open Sans', sans-serif;}
  h1,h2, h3, h4 {
    font-family: 'Merriweather', serif;
    color: #ee2c4c;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .1em;
  }
  header p {
    text-align: center;
    font-size: 0.7em;
    line-height: 25px;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: .3em;
    color:#026a10;
  }
  .fbLogin{
    text-align: center;
    font-size: 0.6em;
    max-width:100%;
    border-bottom:none;
    border-left:none;
    padding:0;
    padding-bottom:10px;
    position:static;

  }
  .rating a {
    background-size : cover;
  }
  p.infoText{
    padding-top: 10px;
    padding-bottom:30px;
    border-top:1px solid #f8beca;
    font-size: 0.8em;
    text-align: center;
    width:75%;
    margin:0 auto;
    line-height:40px;

  }
  .search {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #dedede;
  }
  .search .fi_btn input {
    width:100%;
    background-color: #1ac200;
    color: #fff;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border: 0;
    font-size: 16px;
    line-height: 23px;
    padding: 4px 10px;
    border: 1px solid #009d00;
    padding: 4px 8px 4px 10px;
  }
  .search .fi_btn {
    float: none;
    margin: 0;
  }
  .search .fi_btn input:hover,
  .search .fi_btn input:focus,
  .search .fi_btn input:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset;
    cursor: pointer;
    color: #f1f1f1;
    padding: 5px 10px;
    border: 0;
  }
  .search .fi_txt {
    width: 100%;
    float: center;
    padding-right: 0;
    box-sizing: border-box;
  }
  .search .fi_txt input {
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    padding: 3px 13px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #dedede;
  }

  ::-webkit-input-placeholder {
   text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     text-align: center;
  }

  :-ms-input-placeholder {
     text-align: center;
  }
  /**** results ****/
  .results {
    clear: both;
    width: 80%;
    margin: 0 auto;
  }

  .results h2 {
  }
  .cocktail {
    margin-top: 40px;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: rgba(235, 235, 235, .2);
    padding:0;
  }

  .cocktail h2 {
    margin: 0;
    border-bottom: 1px solid #dedede;
    padding-top:10px;
    font-size: 14px;
  }

  .cocktail {
    padding-left:10px;
    padding-right:10px  ;
    font-size: 12px;
  }

  .cocktail ul {
    list-style: none;
    padding-left: 1em;
  }

  .nav ul{
    list-style: none;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
  }

  .nav li{
    display:inline-block;

  }

  .nav li a{
    text-decoration: none;
    color: #000;
  }
}
