@(cocktails:List[Cocktail])
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<form action="@routes.Application.getCocktails()" method="post">
    <div class="fi_txt">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" value="" />
    </div>

    <div class="fi_txt">
        <label for="description">description:</label>
        <input id="description" type="text" name="description" value="" />
    </div>

    <div class="fi_txt">
        <label for="ingredient">ingredient:</label>
        <input id="ingredient" type="text" name="ingredient" value="" />
    </div>

    <div class="fi_txt">
        <label for="ingredient">ingredient:</label>
        <input id="ingredient" type="text" name="ingredient" value="" />
    </div>

    <div class="fi_txt">
        <label for="ingredient">ingredient:</label>
        <input id="ingredient" type="text" name="ingredient" value="" />
    </div>

    <button>Submit</button>
</form>

<div>
    <ul>
        @for(cocktail <- cocktails) {
            <li>@cocktail.name</li>
        }
    </ul>

    <ul>
        @for(cocktail <- cocktails) {
            @for(ing <- cocktail.getIngredients()) {
                <li>@ing.name</li>
            }

        }
    </ul>

</div>

</body>
</html>