@(cocktail: Cocktail)
@main(title = "Mix a cocktail") {
<div class="wrap">
    <section class="results">
        <div class="cocktail ">
            <h2> @cocktail.name </h2>
            <div class="rating rating-@cocktail.ratingValue + ">
                <ul>
                    <li><a href="/updateRating/ + @cocktail.id + /1">1</a></li>
                    <li><a href="/updateRating/ + @cocktail.id + /2">2</a></li>
                    <li><a href="/updateRating/ + @cocktail.id + /3">3</a></li>
                    <li><a href="/updateRating/ + @cocktail.id + /4">4</a></li>
                    <li><a href="/updateRating/ + @cocktail.id + /5">5</a></li>
                </ul>
            </div>
            <p class="ingredientsList">  Ingredients :  </p>
            <a class="cocktailPhoto"> <img src="@cocktail.imageUrl"> </img>  </a>
            <p class="descrText">Description:<br/></p><p> @cocktail.description  </p>
            <div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="5" data-colorscheme="light" xid ="i">  </div>
        </div>
    </section>

</div>
}