@(cocktail: Cocktail)
@main(title = "Mix a cocktail") {
<div class="wrap">
    <section class="results">
        <div class="cocktail ">
            <h2> @cocktail.name </h2>
            <div class="rating rating-@cocktail.ratingValue">
                <ul>
                    <li><a href="/updateRating/@cocktail.id/1">1</a></li>
                    <li><a href="/updateRating/@cocktail.id/2">2</a></li>
                    <li><a href="/updateRating/@cocktail.id/3">3</a></li>
                    <li><a href="/updateRating/@cocktail.id/4">4</a></li>
                    <li><a href="/updateRating/@cocktail.id/5">5</a></li>
                </ul>
            </div>
            <h4 class="ingredientsList">Ingredients: </h4>
            <ul class ="ingredients">
            @for(ingredient <- cocktail.getIngredients()){
                <li>@ingredient.name</li>
            }
            </ul>
            <a class="cocktailPhoto"><img src="@cocktail.imageUrl" /></a>
            <h4 class="descrText">Description:</h4>
            <p>@cocktail.description</p>
            <h4 class="PreperationText">Preperation:</h4>
            <p>@cocktail.preparation</p>
            <div class="fb-comments" data-href="http://@request.host@request.path" data-numposts="5" data-colorscheme="light" xid ="i">  </div>
        </div>
    </section>

</div>
}
