@(message: String, bla: Integer)
@main(title = "Mix a cocktail") {
    <div class="wrap">

        <div class="nav">
            <ul>
                <li><a class="searchLink" href="/allCocktails">Search</a></li>
                <li><a class="list" href="#list">List of Cocktails</a></li>
            </ul>
        </div>

        <section class="search">

            <form  action="@routes.Application.findCocktailByIngredient()">
                <label for="search">Type in the name of a cocktail or ingredients</label>
                <div class="fi_txt ">
                    <input id="search" type="text" name="search" value="" />
                </div>
                <div class="fi_btn"><input type="submit" value="Add" /></div>
            </form>

            <div class="tags">
                <ul>

                </ul>
            </div>
        </section>

        <section class="results">
            <h2>And your results....</h2>
        </section>
    </div>
}



